.git
.gitattributes
.gitignore
.env
.env.*
!.env.example

node_modules
vendor

storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore

database/database.sqlite
database/*.sqlite

Dockerfile
docker-compose*.yml

.editorconfig
.npmrc
README.md
